h3,h1{
    display: inline-block;
}
.para{
    width: 300px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
}

.para:hover{
    text-decoration: line-through;
    text-decoration-color:red ;
    background-color: aqua;
}
button{
    margin-top: 20px;
    padding: 10px;
    background-color: black;
    color: aliceblue;
    cursor: pointer;
}
#btn.hover{
    background-color: aquamarine;
    border: 2px solid black;
    color: black;
    transition: 0.5s;
    transform: scale(1.1);
}