body {
    margin: 30%;
}

.container {
    background-color: rgb(255, 81, 0);
    position: relative;
    width: 500px;
    height: 250px;
    border: 4px solid black;
}

.square {
    position: absolute;
    width: 120px;
    height: 80px;
    border: 4px solid black;
    background: white;
}

.top-left {
    background-color: rgb(0, 255, 187);
    top: -40px;
    left: -40px;
}

.top-right {
    background-color: rgb(140, 0, 255);
    top: -40px;
    right: -40px;
}

.bottom-left {
    background-color: rgb(229, 255, 0);
    bottom: -40px;
    left: -40px;
}

.bottom-right {
    background-color: rgb(255, 0, 234);
    bottom: -40px;
    right: -40px;
}
