#main{
    background-color: black;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: space-around;
    gap: 40%;
}

#head{
    font-size: 40px;
    font-weight: bolder;
}

ol{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
    font-size: 20px;
}

.right{
    width: 400px;
    height: 500px;
}

.hero{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    gap: 100px;
    padding: 20px;
}
.left{
    width: 50%;
    margin-left: 50px; 
    margin-top: 100px;
    text-align: center;
}
.title{
    font-size: 50px;
    color: rgb(84, 113, 113);
}

.btn{
    margin-top: 50px;
    font-size: 40px;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
}

.btn:hover{
    background-color: black;
    color: white;
    cursor: pointer;
    transition: 0.5s;
    transform: scale(1.1);
}