/* p{
    color:blue;
    font-size: 40px;
} */

/* .para{
    color:blue;
    font-size: 40px;
} */

#main{
    height: 200px;
    width:200px;
    background-color: aquamarine;
    border: 4px solid black;
}

button{
    margin-top: 20px;
    padding: 10px;
    background-color: black;
    color: white;
    cursor: pointer;
}

button:hover{
    background-color: aquamarine;
    border: 2px solid black;;
    color: black;
    transition: 0.5s;
    transform: scale(1.2);
}